@import "tailwindcss";
.add-to-cart-btn:hover {
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.79);
}
